<div style="margin-top: 2%" class="row">
	<div class="col-sm-12 picBoxPostBig-variant scale">
		<div class="row">
			<img class="postImage" src="img/posts/big_post_var_4_1280x800.jpg" alt="">
		</div>
	</div>
	<div class="offset-1 col-sm-10 boxPostBig-variant">
		<!--Название поста -->
		<div class="row postTextName">
			<h2>Образ мышления программиста</h2>
		</div>
		<!-- Дата, категория, сообщения, лайки, репост поста -->
		<div class="row rowDisplayBlock">
			<div class="col-sm-3 postBigMarginCategoryTwo postCategoryBig">
				<a href="" class="categoryBigPost"></a>
				<span class="postBigSpan">Блог/Статья</span>
			</div>
			<div class="col-sm-3 postBigMarginCalendar postCategoryBig">
				<a class="calendarBigPost"></a>
				<span class="postBigSpan">12.08.2021</span>
			</div>
			<div class="col-sm-1 rowDisplayBlock postSmallDateRow">
				<a href="" class="message"></a>
			</div>
			<div class="col-sm-1 rowDisplayBlock postSmallDateRow">
				<a href="" class="like"></a>
			</div>
			<div class="col-sm-1 rowDisplayBlock postSmallDateRow">
				<a href="" class="repost"></a>
			</div>
		</div>
		<!-- Краткое описание поста -->
		<div class="row">
			<p class="postTextDescription">
				Для того, чтобы стать успешным программистом, необходимо обладать определенным мышлением.
				Кроме теоретических знаний, нужно уметь анализировать поставленные задачи и
				находить нестандартные пути решения.
				Для того, чтобы научиться мыслить как программист, необходимо иметь ...
			</p>
		</div>
		<!-- разделительная линия -->
		<div class="row">
			<svg width="812" height="12" viewBox="0 0 812 12" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M0.226497 6L6 11.7735L11.7735 6L6 0.226497L0.226497 6ZM811.774 6L806 0.226497L800.226 6L806 11.7735L811.774 6ZM6 7H806V5H6V7Z" fill="#871548"/>
			</svg>
		</div>
		<!-- Поделится в соц.сетях и открыть пост -->
		<div class="row postMarginRepost">
			<div class="col-sm-7 postBtnRepost">
				<div class="col-sm-2 offset-1 borderIcon iconMargin">
					<a href="" class="telegram"></a>
				</div>
				<div class="col-sm-2 borderIcon iconMargin">
					<a href="" class="facebook"></a>
				</div>
				<div class="col-sm-2 borderIcon iconMargin">
					<a href="" class="twitter"></a>
				</div>
				<div class="col-sm-2 borderIcon iconMargin">
					<a href="" class="linkedin"></a>
				</div>
				<div class="col-sm-2 borderIcon iconMargin">
					<a href="?id=1" class="repostPage"></a>
				</div>
			</div>
			<div class="col-sm-4 offset-1">
				<div class="row">
					<a href="" class="myBtn myBtnSizeBig">Подробнее</a>
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-12 boxPostMedium">
		<div class="row">
			<div class="col-sm-6">
				<div class="row scale postMiddleMarginFoto">
					<img class="postImage" src="img/posts/medium_post_1_1280x1280.jpg" alt="">
				</div>
			</div>
			<div class="col-sm-6 postMiddlePaddingText">
				<!-- Категория поста -->
				<div class="row">
					<div class="col-sm-6 offset-1">
						<div class="postCategoryMiddle">
							<a class="categoryUpPost"></a>
							<span>Блог/Статья</span>
						</div>
					</div>
				</div>
				<!--Название поста -->
				<div class="row ">
					<h4 class="postTitleH3">Сколько времени на учебу выделять ?</h4>
				</div>
				<!-- Дата создания и сообщения поста -->
				<div class="row">
					<div class="col-sm-5 offset-2 postSmallDate">
						<a  class="calendarSmall"></a>
						<p>12.08.2021</p>
					</div>
					<div class="col-sm-1 postSmallDateRow">
						<a href="" class="messageSmall"></a>
					</div>
					<div class="col-sm-1 postSmallDateRow">
						<a href="" class="likeSmall"></a>
					</div>
				</div>
				<!-- Краткое описание поста -->
				<div class="row">
					<p class="postMediumTextDescription postTextDescription">
						Говорят, чтобы стать профи в чем-то, нужно потратить 10к часов, так вот тут тоже самое )))
						Ну, а если по теме, то минимум только на чистый кодинг в неделю нужно выделять 60 часов, это ...
					</p>
				</div>
				<!-- Кнопка открыть пост -->
				<div class="row postBtnOpen">
					<a href="" class="myBtn myBtnSizeSmall">Подробнее</a>
				</div>
				<!-- Поделится в соц.сетях -->
				<div class="row postMarginRepost">
					<div class="col-sm-12 postBtnRepost">
						<div class="col-sm-2 borderIconMedium iconMargin">
							<a href="" class="telegram"></a>
						</div>
						<div class="col-sm-2 borderIconMedium iconMargin">
							<a href="" class="facebook"></a>
						</div>
						<div class="col-sm-2 borderIconMedium iconMargin">
							<a href="" class="twitter"></a>
						</div>
						<div class="col-sm-2 borderIconMedium iconMargin">
							<a href="" class="linkedin"></a>
						</div>
						<div class="col-sm-2 borderIconMedium iconMargin">
							<a href="?id=1" class="repostPage"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12 boxPostMedium">
		<div class="row">
			<div class="col-sm-6">
				<div class="row scale postMiddleMarginFoto">
					<img class="postImage" src="img/posts/medium_post_2_1280x1280.jpg" alt="">
				</div>
			</div>
			<div class="col-sm-6 postMiddlePaddingText">
				<!-- Категория поста -->
				<div class="row">
					<div class="col-sm-6 offset-1">
						<div class="postCategoryMiddle">
							<a class="categoryUpPost"></a>
							<span>Блог/Статья</span>
						</div>
					</div>
				</div>
				<!--Название поста -->
				<div class="row ">
					<h3 class="postTitleH3">Ночной кодинг, стоит ли практиковать?</h3>
				</div>
				<!-- Дата создания и сообщения поста -->
				<div class="row">
					<div class="col-sm-5 offset-2 postSmallDate">
						<a  class="calendarSmall"></a>
						<p>12.08.2021</p>
					</div>
					<div class="col-sm-1 postSmallDateRow">
						<a href="" class="messageSmall"></a>
					</div>
					<div class="col-sm-1 postSmallDateRow">
						<a href="" class="likeSmall"></a>
					</div>
				</div>
				<!-- Краткое описание поста -->
				<div class="row">
					<div class="container">
						<p class="postMediumTextDescription postTextDescription">
							Согласно поговорке, программисты — это устройства, преобразующие кофеин в код.
							Если спросить первого попавшегося программиста, когда он наиболее продуктивен, скорее всего ...
						</p>
					</div>
				</div>
				<!-- Кнопка открыть пост -->
				<div class="row postBtnOpen">
					<a href="" class="myBtn myBtnSizeSmall">Подробнее</a>
				</div>
				<!-- Поделится в соц.сетях -->
				<div class="row postMarginRepost">
					<div class="col-sm-12 postBtnRepost">
						<div class="col-sm-2 borderIconMedium iconMargin">
							<a href="" class="telegram"></a>
						</div>
						<div class="col-sm-2 borderIconMedium iconMargin">
							<a href="" class="facebook"></a>
						</div>
						<div class="col-sm-2 borderIconMedium iconMargin">
							<a href="" class="twitter"></a>
						</div>
						<div class="col-sm-2 borderIconMedium iconMargin">
							<a href="" class="linkedin"></a>
						</div>
						<div class="col-sm-2 borderIconMedium iconMargin">
							<a href="?id=1" class="repostPage"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12 boxPostBig">
		<!-- Картинка поста -->
		<div class="row scale">
			<img class="postImage" src="img/posts/big_post_4_1152x864.jpg" alt="">
		</div>
		<!--Название поста -->
		<div class="row postTextName">
			<h2>Стать программистом после 30+</h2>
		</div>
		<!-- Дата, категория, сообщения, лайки, репост поста -->
		<div class="row rowDisplayBlock">
			<div class="col-sm-3 postBigMarginCategory postCategoryBig">
				<a href="" class="categoryBigPost"></a>
				<span class="postBigSpan">Блог/Статья</span>
			</div>
			<div class="col-sm-3 postBigMarginCalendar postCategoryBig">
				<a class="calendarBigPost"></a>
				<span class="postBigSpan">12.08.2021</span>
			</div>
			<div class="col-sm-1 rowDisplayBlock postSmallDateRow">
				<a href="" class="message"></a>
			</div>
			<div class="col-sm-1 rowDisplayBlock postSmallDateRow">
				<a href="" class="like"></a>
			</div>
			<div class="col-sm-1 rowDisplayBlock postSmallDateRow">
				<a href="" class="repost"></a>
			</div>
		</div>
		<!-- Краткое описание поста -->
		<div class="row">
			<p class="postTextDescription">
				Кто такой свитчер и почему многие люди опасаются идти в программирование после 30 лет. Начну с
				первого, а
				именно СВИТЧЕР и почему это слово имеет частичное отношение к программистам после 30 лет, так вот
				СВИТЧЕР -
				это человек, который перешел в другую профессию, простым языком сменил род деятельности без
				образования...
			</p>
		</div>
		<!-- разделительная линия -->
		<div class="row">
			<svg width="812" height="12" viewBox="0 0 812 12" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M0.226497 6L6 11.7735L11.7735 6L6 0.226497L0.226497 6ZM811.774 6L806 0.226497L800.226 6L806 11.7735L811.774 6ZM6 7H806V5H6V7Z" fill="#871548"/>
			</svg>
		</div>
		<!-- Поделится в соц.сетях и открыть пост -->
		<div class="row postMarginRepost">
			<div class="col-sm-7 postBtnRepost">
				<div class="col-sm-2 offset-1 borderIcon iconMargin">
					<a href="" class="telegram"></a>
				</div>
				<div class="col-sm-2 borderIcon iconMargin">
					<a href="" class="facebook"></a>
				</div>
				<div class="col-sm-2 borderIcon iconMargin">
					<a href="" class="twitter"></a>
				</div>
				<div class="col-sm-2 borderIcon iconMargin">
					<a href="" class="linkedin"></a>
				</div>
				<div class="col-sm-2 borderIcon iconMargin">
					<a href="?id=1" class="link"></a>
				</div>
			</div>
			<div class="col-sm-4 offset-1">
				<div class="row">
					<a href="?id=1" class="myBtn myBtnSizeBig">Подробнее</a>
				</div>
			</div>
		</div>

	</div>
	<div class="col-sm-12 boxPostBig">
		<!-- Картинка поста -->
		<div class="row scale">
			<img class="postImage" src="img/posts/big_post_3_1152x864.jpg" alt="">
		</div>
		<!--Название поста -->
		<div class="row postTextName">
			<h2>Легко ли быть программистом ?</h2>
		</div>
		<!-- Дата, категория, сообщения, лайки, репост поста -->
		<div class="row">
			<div class="col-sm-3 postBigMarginCategory postCategoryBig">
				<a href="" class="categoryBigPost"></a>
				<span class="postBigSpan">Блог/Статья</span>
			</div>
			<div class="col-sm-3 postBigMarginCalendar postCategoryBig">
				<a class="calendarBigPost"></a>
				<span class="postBigSpan">12.08.2021</span>
			</div>
			<div class="col-sm-1 postSmallDateRow">
				<a href="" class="message"></a>
			</div>
			<div class="col-sm-1 postSmallDateRow">
				<a href="" class="like"></a>
			</div>
		</div>
		<!-- Краткое описание поста -->
		<div class="row">
			<p class="postTextDescription">
				Программистом быть не легко, но очень интересно.
				Для этого нужно много и постоянно учиться, а главное – чувствовать в себе призвание к этой работе.
				Существуют десятки языков программирования и десятки тысяч прикладных областей.
				Кто-то делает красивые сайты, а кто-то – программы для медицинского оборудования,
				которое спасает жизни. Смартфон и атомная электростанция работают под управлением
				программного обеспечения. Очевидно, что для написания столь разных программ требуется
				не только знание ...
			</p>
		</div>
		<!-- разделительная линия -->
		<div class="row">
			<svg width="812" height="12" viewBox="0 0 812 12" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M0.226497 6L6 11.7735L11.7735 6L6 0.226497L0.226497 6ZM811.774 6L806 0.226497L800.226 6L806 11.7735L811.774 6ZM6 7H806V5H6V7Z" fill="#871548"/>
			</svg>
		</div>
		<!-- Поделится в соц.сетях и открыть пост -->
		<div class="row postMarginRepost">
			<div class="col-sm-7 postBtnRepost">
				<div class="col-sm-2 offset-1 borderIcon iconMargin">
					<a href="" class="telegram"></a>
				</div>
				<div class="col-sm-2 borderIcon iconMargin">
					<a href="" class="facebook"></a>
				</div>
				<div class="col-sm-2 borderIcon iconMargin">
					<a href="" class="twitter"></a>
				</div>
				<div class="col-sm-2 borderIcon iconMargin">
					<a href="" class="linkedin"></a>
				</div>
				<div class="col-sm-2 borderIcon iconMargin">
					<a href="?id=1" class="repostPage"></a>
				</div>
			</div>
			<div class="col-sm-4 offset-1">
				<div class="row">
					<a href="" class="myBtn myBtnSizeBig">Подробнее</a>
				</div>
			</div>
		</div>

	</div>
	<nav class="offset-lg-3" aria-label="Page navigation">
		<ul class="pagination pagination-large">
			<li class="page-item"><a class="page-link" href="#">Назад</a></li>
			<li class="page-item"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item"><a class="page-link" href="#">4</a></li>
			<li class="page-item"><a class="page-link" href="#">5</a></li>
			<li class="page-item"><a class="page-link" href="#">Вперед</a></li>
		</ul>
	</nav>
</div>