<div class="row">
	<div class="col-sm-12 boxPostBig">
		<div class="row">
			<p style="text-align: center">
			<img style="width: 70%" src="img/posts/contact-768x372.jpg">
			</p>
			<h2>Мои Контакты</h2>
			<div class="row">
				<p>
				<h4>Вы можете связаться со мной любым удобным для вас способом.</h4>
				<h2>Телефон: +380 99 68 69 069</h2>
				<h4>г.Каменское</h4>
				<div class="row postMarginRepost">
					<div class="col-lg-12 postBtnRepost">
						<div class="col-lg-2 offset-1 borderIcon aboutColSM iconMargin">
							<a href="" class="telegram"></a>
						</div>
						<div class="col-lg-2 borderIcon aboutColSM iconMargin">
							<a href="" class="facebook"></a>
						</div>
						<div class="col-lg-2 borderIcon aboutColSM iconMargin">
							<a href="" class="twitter"></a>
						</div>
						<div class="col-lg-2 borderIcon aboutColSM iconMargin">
							<a href="" class="linkedin"></a>
						</div>
					</div>
				</div>
				<h4>или просто напишите мне и Я с вами свяжусь</h4>
				</p>
			</div>
			<div class="row">
				<form class="formPadding">
					<p>Ваше Имя
						<input type="text" class="form-control" id="name" name="name" placeholder="Имя" value="">
					</p>
					<p>Ваша почта
						<input type="email" class="form-control" id="your-email" name="email"
							   placeholder="example@domain.com" value="">
					</p>
					<p>Укажите тему
						<input type="text" class="form-control" id="website" name="website" placeholder="Тема">
					</p>
					<p>Ваше сообщение
						<textarea class="form-control" id="yourMessage" rows="10" name="message" placeholder="Сообщение"></textarea>
					</p>
					<p>
						<button style="padding: 1%;" type="submit" id="submit" class="myBtn">Отправить</button>
					</p>
				</form>
			</div>
		</div>
	</div>
</div>




	<!--<div class="col-sm-12 boxPostMedium commentRow">
		<div class="row " >

		</div>
	</div>-->
